In [2]:
%pwd

'C:\\Users\\Zachary Ohl\\Desktop\\new job folder\\Kenco'

In [3]:
import numpy as np
import pandas as pd

In [19]:
train = pd.read_csv('https://raw.githubusercontent.com/ZachOhl/kenco/main/interview_train_data.csv')
train.tail()

,ActualShip,KEY_LOAD_TRACKING,CreateDate,ActualDelivery,Carrier,ConsigneeCity,ConsigneeCountry,ConsigneeZip,DetailCity,DetailState,...,av_dow,AS_dow,EST_AV,holiday_flag,new_EST_AV,new_EST_AV_dow,Final_EST_AV,Final_EST_AV_dow,target,target_numerical
8995,2019-12-03 00:00:00.000,9916608512,2019-12-04 07:03,2019-12-09 00:00:00.000,4,SHEBOYGAN,NaN,53081,DUNCAN,SC,...,Thursday,Tuesday,2019-12-05 00:00:00.000,False,2019-12-05 00:00:00.000,Thursday,2019-12-05 00:00:00.000,Thursday,positive,1
8996,2019-12-03 00:00:00.000,9916608424,2019-12-04 07:03,2019-12-10 00:00:00.000,4,APPLE VALLEY,NaN,92307,APPLE VALLEY,CA,...,Friday,Tuesday,2019-12-06 00:00:00.000,False,2019-12-06 00:00:00.000,Friday,2019-12-06 00:00:00.000,Friday,positive,1
8997,2019-12-03 00:00:00.000,9916608466,2019-12-04 07:03,2019-12-05 00:00:00.000,4,MIAMITOWN,NaN,45041,DUNCAN,SC,...,Wednesday,Tuesday,2019-12-04 00:00:00.000,False,2019-12-04 00:00:00.000,Wednesday,2019-12-04 00:00:00.000,Wednesday,positive,1
8998,2019-12-03 00:00:00.000,9916608423,2019-12-04 07:03,2019-12-09 00:00:00.000,4,MARCY,NaN,13403,CARLISLE,PA,...,Friday,Tuesday,2019-12-06 00:00:00.000,False,2019-12-06 00:00:00.000,Friday,2019-12-06 00:00:00.000,Friday,positive,1
8999,2019-12-03 00:00:00.000,9916608420,2019-12-04 07:03,2019-12-05 00:00:00.000,4,LUGOFF,NaN,29078,DUNCAN,SC,...,Wednesday,Tuesday,2019-12-04 00:00:00.000,False,2019-12-04 00:00:00.000,Wednesday,2019-12-04 00:00:00.000,Wednesday,positive,1

In [ ]:
datetime_cols = ['ActualShip', 'CreateDate', 'ActualDelivery', ]

In [18]:
test = pd.read_csv('https://raw.githubusercontent.com/ZachOhl/kenco/main/interview_test_data.csv')
test.head()

,ActualShip,KEY_LOAD_TRACKING,CreateDate,ActualDelivery,Carrier,ConsigneeCity,ConsigneeCountry,ConsigneeZip,DetailCity,DetailState,...,av_dow,AS_dow,EST_AV,holiday_flag,new_EST_AV,new_EST_AV_dow,Final_EST_AV,Final_EST_AV_dow,target,target_numerical
0,2019-12-03 00:00:00.000,99172562938,2019-12-04 07:02,2019-12-04 00:00:00.000,4,BROOKS,NaN,40109,BROOKS,KY,...,Wednesday,Tuesday,2019-12-04 00:00:00.000,False,2019-12-04 00:00:00.000,Wednesday,2019-12-04 00:00:00.000,Wednesday,positive,1
1,2019-12-03 00:00:00.000,9916608510,2019-12-04 07:03,2019-12-09 00:00:00.000,4,EDWARDSVILLE,NaN,62025,ARDEN,NC,...,Thursday,Tuesday,2019-12-05 00:00:00.000,False,2019-12-05 00:00:00.000,Thursday,2019-12-05 00:00:00.000,Thursday,positive,1
2,2019-12-03 00:00:00.000,9915539095,2019-12-04 07:04,2019-12-05 00:00:00.000,4,COLUMBUS,NaN,43228,BECKLEY,WV,...,Thursday,Tuesday,2019-12-05 00:00:00.000,False,2019-12-05 00:00:00.000,Thursday,2019-12-05 00:00:00.000,Thursday,positive,1
3,2019-12-03 00:00:00.000,9916608430,2019-12-04 07:05,2019-12-09 00:00:00.000,4,MENOMONIE,NaN,54751,DUNCAN,SC,...,Friday,Tuesday,2019-12-06 00:00:00.000,False,2019-12-06 00:00:00.000,Friday,2019-12-06 00:00:00.000,Friday,positive,1
4,2019-12-03 00:00:00.000,9916608428,2019-12-04 07:04,2019-12-09 00:00:00.000,4,OTTAWA,NaN,66067,ARDEN,NC,...,Friday,Tuesday,2019-12-06 00:00:00.000,False,2019-12-06 00:00:00.000,Friday,2019-12-06 00:00:00.000,Friday,positive,1

In [6]:
all(train.columns == test.columns)
#columns are same in train/test datasets

True

In [7]:
train.shape, test.shape

((9000, 61), (1478, 61))

In [28]:
fulldata = pd.concat([train, test], axis=0)  #all feature engineering s.b. done on the 
    #full dataset. Afterwards, resplit into train/test. 
    #Last index of train is 8999
first_test_ind = 9000
fulldata.shape

(10478, 61)

In [29]:
fulldata.iloc[:first_test_ind].shape

(9000, 61)

In [22]:
fulldata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10478 entries, 0 to 1477
Data columns (total 61 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ActualShip             10478 non-null  object
 1   KEY_LOAD_TRACKING      10478 non-null  int64
 2   CreateDate             10478 non-null  object
 3   ActualDelivery         10475 non-null  object
 4   Carrier                10478 non-null  int64
 5   ConsigneeCity          10478 non-null  object
 6   ConsigneeCountry       94 non-null     object
 7   ConsigneeZip           10478 non-null  object
 8   DetailCity             10406 non-null  object
 9   DetailState            10406 non-null  object
 10  DetailCode             10478 non-null  object
 11  DetailCodeDescription  10478 non-null  object
 12  DetailCreateDate       10478 non-null  object
 13  DetailDate             10478 non-null  object
 14  ShipperCity            10478 non-null  object
 15  ShipperState           10478 non-null  object
 16  ShipperZip             10478 non-null  object
 17  ShipperCountry         94 non-null     object
 18  AV_CD                  10478 non-null  object
 19  AV                     10478 non-null  object
 20  PRO                    10478 non-null  int64
 21  DestCity               10478 non-null  object
 22  DestState              10470 non-null  object
 23  DestCtry               10478 non-null  object
 24  DestZip                10478 non-null  object
 25  OriginCity             10478 non-null  object
 26  OriginState            10477 non-null  object
 27  OriginCtry             10478 non-null  object
 28  OriginZip              10478 non-null  object
 29  Lane                   10478 non-null  object
 30  ShipmentType           10478 non-null  object
 31  CarrierMode            10478 non-null  object
 32  ActualTransitTime      10478 non-null  float64
 33  DeliveryDays           10478 non-null  float64
 34  ServiceDays            10478 non-null  int64
 35  Weight                 10478 non-null  float64
 36  CustomerDistance       10478 non-null  float64
 37  RAD                    8047 non-null   object
 38  DestName               10478 non-null  int64
 39  Goal                   10478 non-null  object
 40  Goal2                  10478 non-null  object
 41  InvoiceCost            10478 non-null  float64
 42  Mileage                10449 non-null  float64
 43  OnTimeShip             10478 non-null  object
 44  OnTimeDelivery         10478 non-null  object
 45  Quantity               10478 non-null  float64
 46  TargetShip_Early       10478 non-null  object
 47  Status                 10478 non-null  object
 48  ActualDeliveryTime     10475 non-null  object
 49  ActualShipTime         10478 non-null  object
 50  AVTime                 10478 non-null  object
 51  av_dow                 10478 non-null  object
 52  AS_dow                 10478 non-null  object
 53  EST_AV                 10478 non-null  object
 54  holiday_flag           10478 non-null  bool
 55  new_EST_AV             10478 non-null  object
 56  new_EST_AV_dow         10478 non-null  object
 57  Final_EST_AV           10478 non-null  object
 58  Final_EST_AV_dow       10478 non-null  object
 59  target                 10478 non-null  object
 60  target_numerical       10478 non-null  int64
dtypes: bool(1), float64(7), int64(6), object(47)
memory usage: 4.9+ MB

In [9]:
train.dtypes.value_counts()

object     47
float64     7
int64       6
bool        1
dtype: int64

In [11]:
train.select_dtypes("int64") #

,KEY_LOAD_TRACKING,Carrier,PRO,ServiceDays,DestName,target_numerical
0,3812945156,4,3812945156,2,610,1
1,36700475761,4,36700475761,1,2436,0
2,40356094,0,40356094,4,1486,0
3,99957685869,4,99957685869,2,628,1
4,4265894113,3,4265894113,0,3263,0
...,...,...,...,...,...,...
8995,9916608512,4,9916608512,2,1932,1
8996,9916608424,4,9916608424,3,3507,1
8997,9916608466,4,9916608466,1,1230,1
8998,9916608423,4,9916608423,3,3490,1
8999,9916608420,4,9916608420,1,2777,1

In [17]:
train[['Carrier', 'ServiceDays']].corr()

              Carrier  ServiceDays
Carrier      1.000000     0.034471
ServiceDays  0.034471     1.000000